.box-blue {
  border: 3px solid rgb(41, 188, 246);
  padding: 10px;
}
.box-green {
  border: 3px solid rgb(34, 216, 73);
  padding: 10px;
}

.border {
  border: 3px solid red;
}

.body-box {
  border: 3px solid orange;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
